---
import Layout from '@layouts/Layout.astro'
---

<Layout title="" currentPage="home">
  <section>
    <h1 class="main-title">
      Hey There 👋🏻{' '}
      <span class="main-title-1">
        I'm <span class="main-title-1-1">Krushang Kasundra</span>
      </span>
      aka <span class="main-title-2">Kru'Z</span>
    </h1>

    <div class="image-wrapper">
      <img src="/images/hero.png" alt="Old Computer" />
    </div>

    <h3 class="sub-title">
      A Computer Engineer, Full-Stack Web Developer and Learning More...
    </h3>

    <div class="button-wrapper">
      <a class="button">My Skills</a>
      <a class="button">Contact Me</a>
    </div>
  </section>
</Layout>

<style lang="scss">
  section {
    display: grid;
    padding: 2rem;
    text-align: center;

    .main-title {
      font-weight: normal;
      margin-bottom: 2rem;
      font-size: 1.75rem;

      &-1 {
        display: block;

        &-1 {
          font-size: 2rem;
          font-weight: 500;
          color: var(--secondary-accent-color);
          text-shadow: 0 0 0.05em var(--secondary-accent-color),
            0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
        }
      }
      &-2 {
        font-weight: 500;
        font-size: 2rem;
        color: var(--primary-accent-color);
      }
    }

    .sub-title {
      color: var(--secondary-accent-color);
      font-weight: normal;
      margin: 2rem 0;
    }

    .image-wrapper {
      overflow: hidden;
      width: 70%;
      max-width: 350px;
      margin: 0 auto;

      img {
        display: block;
        width: 100%;
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 auto;

      .button {
        width: 100%;
      }
    }
  }

  @media (min-width: 1026px) {
    section {
      text-align: left;
      display: grid;
      align-items: center;
      justify-content: start;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 3rem;

      .main-title {
        grid-column: 1/2;
        grid-row: 1/3;
        margin: 0;
      }

      .image-wrapper {
        grid-column: 2/3;
        grid-row: 1/5;
        justify-self: end;
        margin: 0;
        width: 80%;
        max-width: 100%;
      }

      .button-wrapper {
        justify-content: start;
        margin: 0;

        .button {
          margin: 0 2rem 0 0;
          width: auto;
        }
      }
    }
  }
</style>
