---
import Layout from '@layouts/Layout.astro'
import Hello from '@components/Hello.astro'
import { NAME } from '@data/data'
---

<Layout title="KruZ">
  <main>
    <Hello /><h1>{NAME} here...</h1>
  </main>
</Layout>

<style lang="scss">

</style>
