---
import ProjectComponent from '@components/ProjectComponent.astro'
import { PROJECTSDATA } from '@data/data'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Projects | " currentPage="projects">
  <section>
    <div>
      {PROJECTSDATA.map((project) => <ProjectComponent project={project} />)}
    </div>
  </section>
</Layout>

<style lang="scss">
  section {
    padding: 1rem;
    text-align: center;

    > div {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
</style>
